<section class="tell-us">
    <div class="container">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <div class="tell-us-content">
                    <h2>Share your experience</h2>

                    <p>
                        Are there any other features you would like to have ? Any suggestions how to make the site more effective ?
                    </p>

                    <a ui-sref="main">Tell us</a>
                </div>
            </div>
        </div>
    </div>
</section>