/* _tell-us.scss */

.tell-us {
  @include parallax('../images/main-page/tellus.jpg');

  .tell-us-content {
    margin-top: 200px;

    h2 {
      font-size: 2.5em;
      font-weight: bold;
    }

    p {
      font-size: 1.2em;
    }

    a {
      color: $cerulean;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

/* end: _tell-us.scss */