@mixin error-field() {
  color: $chestnut;
  background-color: $bizarre;
  border: 1px solid $oyster-pink;
}

@mixin login-fields($url) {
  background-image: url($url);
  background-repeat: no-repeat;
}

@mixin blue-header($color) {
  color: $color;
  text-align: center;
  font-size: 3.2em;
  font-weight: bold;
}

@mixin blue-black-button($width) {
  padding: 8px 12px;
  width: $width;
  border: none;
  border-radius: 5px;
  color: $mine-shaft;
  background: linear-gradient(to bottom, $anakiwa 0%, $picton-blue 40%, $cerulean 100%);
  font-weight: bold;

  &:hover {
    color: $white;
    background: linear-gradient(#787978, #0f0f0f);
  }
}

@mixin parallax($url) {
  height: 600px;
  background: fixed url($url) 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}