/* colos */
$red: #ff0000;
$black: #000;
$white: #fff;
$mine-shaft: #333;
$silver: #ccc;
$anakiwa: #87e0fd;
$picton-blue: #53cbf1;
$cornflower-blue: #66AFE9;
$chestnut: #B94A48;
$bizarre: #F2DEDE;
$oyster-pink: #EED3D7;
$cerulean: #05ABE0;
$dove-gray: #666;
$spray: #5edef1;
$tundora: #444;