<section class="isoft-users-feedback">
    <div class="container">
        <h2>What Users are Saying</h2>

        <div class="feedback-content">
            <div class="quote left-quote">
                <i class="fa fa-quote-left"></i>
            </div>

            <blockquote class="comment">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aspernatur consequatur debitis
                ducimus eligendi, esse est harum iusto neque, non quae, quaerat quidem quis repellendus sapiente similique
                voluptates voluptatum.

                <div class="author-name">
                    MRC
                </div>
            </blockquote>

            <div class="quote right-quote">
                <i class="fa fa-quote-right"></i>
            </div>
        </div>

        <ul class="comment-navigation">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
</section>