/* _users-feedback.scss */

.isoft-users-feedback {
  padding: 30px 0;
  background: url(../images/main-page/bg.white.png) repeat;

  h2 {
    @include blue-header($cerulean);
  }

  .feedback-content {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .quote {
      color: $cerulean;
      font-size: 3em;

      &.left-quote {
        align-self: flex-start;
      }

      &.right-quote {
        align-self: flex-end;
      }
    }

    .comment {
      border: none;
      padding: 3em 1em;
      color: $dove-gray;
      font-style: italic;
      font-size: 1.9em;

      .author-name {
        top: 1.5em;
        position: relative;
        float: right;
        color: $black;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }

  // TODO: remove px
  .comment-navigation {
    margin-left: 0;
    padding-left: 0;
    text-align: center;

    li {
      margin: 0 6px;
      padding: 3px 8px;
      display: inline-block;
      color: $cerulean;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      border: 1px solid $cerulean;
    }
  }
}

/* end: _users-feedback.scss */