<section class="isoft-services">
    <div class="container">
        <header>
            <div class="logo"></div>
            <h2>OUR SERVICES</h2>
        </header>

        <ul class="row services-list">
            <li class="col-md-4 service">
                <figure>
                    <img src="assets/images/main-page/referrals.jpg" alt="coming soon"/>
                    <figcaption>
                        <h3>
                            <i class="fa fa-hand-o-right"></i>
                            CONSULTING
                        </h3>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <a ui-sref="main">Read more&nbsp;»</a>
                        </p>

                        <button>
                            CONSULT
                        </button>
                    </figcaption>
                </figure>
           </li>
           <li class="col-md-4 service">
               <figure>
                   <img src="assets/images/main-page/2.jpg" alt="coming soon"/>
                   <figcaption>
                        <h3>
                            <i class="fa fa-search"></i>
                            MANAGEMENT
                        </h3>

                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                           <a ui-sref="main">Read more&nbsp;»</a>
                        </p>

                        <button>
                           MANAGE
                        </button>
                   </figcaption>
               </figure>
            </li>
            <li class="col-md-4 service">
                <figure>
                    <img src="assets/images/main-page/application.jpg" alt="coming soon"/>
                    <figcaption>
                        <h3>
                            <i class="fa fa-pencil-square-o"></i>
                            DELIVERY
                        </h3>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <a ui-sref="main">Read more&nbsp;»</a>
                        </p>

                        <button>
                            DELIVER
                        </button>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>