/* _isoftServices.scss */

.isoft-services {
  padding: 30px 0;
  background: url(../images/main-page/bg.white.png) repeat;

  header {
    .logo {
      margin: 0 auto;
      width: 64px;
      height: 64px;
      background: url(../images/login/logo.png) no-repeat;
    }

    h2 {
      @include blue-header($spray);
    }
  }

  .services-list {
    padding-left: 0;
    border-top: 1px solid $spray;
    border-bottom: 1px solid $spray;
    list-style: none;

    .service {
      margin-top: 10px;
      margin-bottom: 10px;
      color: $tundora;
      font-size: 1.2em;

      img {
        padding: 3px;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 2px #666;
      }

      a {
        color: $spray;
        font-weight: bold;
        text-decoration: none;

        &.hover,
        &.active {
          color: $spray;
        }
      }

      button {
        margin-top: 1em;
        @include blue-black-button(auto);
      }
    }
  }
}

/* end: _isoftServices.scss */