<footer class="isoft-footer">
    <div class="container">
        <div class="row">
            <ul class="col-md-2">
                <li><h3>Legal</h3></li>
                <li><a ui-sref="main">Copyright</a></li>
                <li><a ui-sref="main">Policy</a></li>
                <li><a ui-sref="main">Terms and Conditions</a></li>
                <li><a ui-sref="main">Privacy</a></li>
            </ul>
            <ul class="col-md-2">
                <li><h3>Support</h3></li>
                <li><a ui-sref="main">Help</a></li>
                <li><a ui-sref="main">Report Abuse</a></li>
                <li><a ui-sref="main">Contact Support</a></li>
            </ul>
            <ul class="col-md-2">
                <li><h3>Information</h3></li>
                <li><a ui-sref="main">About Us</a></li>
                <li><a ui-sref="main">Suggestions</a></li>
                <li><a ui-sref="main">Feedback</a></li>
                <li><a ui-sref="main">Contact Us</a></li>
            </ul>
            <ul class="col-md-2">
                <li><h3>Mailing List</h3></li>
                <li>
                    <strong>Subscribe for news updates
                        <br>and more!</strong>
                </li>
                <li>
                    <form>
                        <div>
                            <input name="email" type="email" placeholder="Enter Email">
                        </div>
                        <div>
                            <button type="submit">Subscribe</button>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="col-md-2">
                <li>
                    <h3>Social</h3>
                </li>
                <li>
                    <iframe width="200" height="150"></iframe>
                </li>
            </ul>
        </div>
        <hr>

        <hr>
        <div class="copyright">Copyright 2014 All Rights Resevered. www.softnet.com</div>
    </div>
</footer>