/* _footer.scss */

.isoft-footer {
  width: 100%;
  padding:40px 0 30px;
  background: linear-gradient(#45484d, #000);

  h3 {
    color: #53cbf1;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  strong {
    color: #fff;
  }

  button {
    background: #87e0fd;
    margin-top: 10px;
    text-shadow: 1px 0 #fff;
    border: 1px solid #fff;
    font-weight: bold;
    font-size: 75%;
    border-radius: 5px;
  }

  button:hover {
    background: linear-gradient(#45484d, #000);
    color: #fff;
    text-shadow: none;
  }

  input {
    width: 130px;
  }
  iframe {
    background: #fff;
    border: none;
  }
  hr {
    border-color: #4a4a4a;
  }

  .copyright {
    text-align: center;
    color: #fff;
    font-size: 90%;
  }
}

/* end: _footer.scss */