<section class="login">
    <div class="login-window">
        <div class="login-form-wrapper">
            <div class="text-center">
                <a ui-sref="login">
                    <img src="assets/images/login/logo.png" alt="Softnet logo"/>
                </a>
            </div>

            <form class="login-form"
                  method="POST"
                  isoft-form-validation="loginCtrl.validationResult"
                  ng-submit="loginCtrl.logIn($event)">

                <div class="form-group">
                    <input class="email"
                           type="email"
                           name="email"
                           placeholder="Email"
                           required
                           data-parsley-trigger="change"
                           ng-model="loginCtrl.data.userName" />
                </div>

                <div class="form-group">
                    <input class="password"
                           type="password"
                           name="password"
                           placeholder="Password"
                           required
                           data-parsley-trigger="change"
                           ng-model="loginCtrl.data.password" />
                </div>

                <div class="form-group">
                    <button class="login-button" type="submit">Login</button>
                </div>
            </form>

            <div class="navigation">
                <a href="/#/login">Request Activation Code</a>
                <a ui-sref="register">Register Now</a>
                <a href="/#/login">Forgot Password?</a>
            </div>
        </div>

        <hr/>

        <div class="copyright text-center">
            Copyright 2014 All Rights Resevered. www.softnet.com
        </div>
    </div>
</section>