/* _login.scss */
.login {
  width: 100%;
  height: 100%;
  background: url(../images/login/login.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-window {
    padding: 15px;
    width: 500px;
    border-radius: 5px;
    background: $white;
    box-shadow: 0 0 5px $mine-shaft;
    opacity: .8;

    .login-form-wrapper {
      padding: 15px;
      border: solid 1px $silver;

      .login-form {
        margin-top: 15px;

        input {
          padding: 3px 0 3px 25px;
          width: 100%;
          border: 1px solid $silver;

          &.email {
            @include login-fields('../images/login/username.jpg');
          }

          &.password {
            @include login-fields('../images/login/password.jpg');
          }

          &:focus {
            border-color: $cornflower-blue;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          }
        }

        .login-button {
          @include blue-black-button(100%);
        }
      }

      .navigation {
        a {
          font-weight: bold;
          text-decoration: none;

          &:not(:last-child)::after {
            color: $black;
            font-weight: lighter;
            content: ' | ';
          }
        }
      }
    }
  }
}

/* end: _login.scss */