/* _about-us.scss */

.isoft-about-us {
  padding: 90px 0;
  color: $white;
  background: linear-gradient(to bottom, #49c0f0 0%, #2cafe3 100%);;
  text-align: center;

  h2 {
    font-size: 3.2em;
    font-weight: bold;
  }

  p {
    margin: 0 auto;
    //width: 80%;
    font-size: 1.9em;
  }
}

/* end: _about-us.scss */