<section class="isoft-about-us">
    <div class="container">
        <h2>About Us</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut commodi culpa cupiditate dolore eligendi et facere maiores nihil numquam, odit omnis porro, quos suscipit, tempore. Deserunt doloremque recusandae vitae?
        </p>
    </div>
</section>