<header class="isoft-header">
    <div class="login-wrap ">
        <div class="container">
            <a ui-sref="login">Logout Daniel Acquah</a>
        </div>
    </div>
    <div class="container">
        <nav>
            <a ui-sref="main" class="logo">
                <img src="assets/images/main-page/custom-icon.png" class="logo" alt="coming soon"/>
            </a>

            <ul class="clearfix big-menu">
                <li>
                    <a ui-sref="main">Home</a>
                </li>
                <li>
                    <a ui-sref="main">Contacts</a>

                    <ul>
                        <li>
                            <a ui-sref="main">Upload</a>
                        </li>
                        <li>
                            <a ui-sref="main">Manage</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="main">Profile</a>

                    <ul>
                        <li>
                            <a ui-sref="main">Edit</a>
                        </li>
                        <li>
                            <a ui-sref="main">Manage Contacts</a>
                        </li>
                        <li>
                            <a ui-sref="main">Delete Account</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="main">Quick Links</a>
                </li>
                <li>
                    <a ui-sref="main">About Us</a>
                </li>
                <li>
                    <a ui-sref="main">Why softnet</a>
                </li>
                <li>
                    <a ui-sref="main">Contact Us</a>
                </li>
                <li>
                    <a ui-sref="main">Help</a>
                </li>
                <li>
                    <img src="assets/images/main-page/sharethis_32.png" class="share" alt="coming soon"/>
                </li>
            </ul>

            <select class="small-menu">
                <option selected>Home</option>
                <option disabled>Contacts</option>
                <option>&nbsp;&nbsp;Upload</option>
                <option>&nbsp;&nbsp;Manager</option>
                <option disabled>Profile</option>
                <option>&nbsp;&nbsp;Edit</option>
                <option>&nbsp;&nbsp;Manage Contacts</option>
                <option>&nbsp;&nbsp;Delete Account</option>
                <option>Quick Links</option>
                <option>About Us</option>
                <option>Why Softnet ?</option>
                <option>Contact Us</option>
                <option>Help</option>
            </select>
        </nav>
    </div>
</header>