/* _header.scss */

.isoft-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  box-shadow: 0 5px 22px -5px rgba(71, 69, 71, 1);
  z-index: 9999;

  .login-wrap {
    background: linear-gradient(#84defc, #07abe0);
    padding: 3px 0;
    text-align: right;

    a {
      color: $white;
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  nav {
    padding: 20px 0;

    a {
      color: $mine-shaft;
      font-size: 1.7rem;
      font-weight: bold;
      text-decoration: none;
    }

    > ul {
      padding-left: 0;
      text-align: right;

      > li {
        > a {
          transition: background-color 200ms ease-out;
        }
      }

      li {
        display: inline-block;
        font-weight: bold;
        text-align: left;

        > a {
          padding: 8px;
          display: block;
        }

        &:hover {
          > a:hover {
            color: $white;
            background-color: #3ab7e9;
          }

          ul {
            position: absolute;
            padding-left: 0;
            background: $white;
            width: 180px;

            li {
              display: block;
              border: 1px solid #3ab7e9;

              a {
                color: $white;
                background-color: #3ab7e9;
                font-size: 1.3rem;

                &:hover {
                  background: linear-gradient(#787978, #0f0f0f);
                }
              }
            }
          }
        }

        li {
          display: none;
        }
      }
    }

    .logo {
      float: left;
    }

    .small-menu {
      display: none;
      font-size: 2rem;
      width: 70%;
      height: 5rem;
      padding: .8rem .1rem;
      margin: 0 auto;
      box-shadow: inset 0 0 2px 1px rgba(184,184,184,1);
      border: none;
    }

    @media only screen and (max-width: 738px),
    only screen and (max-device-width: 738px) {
      .small-menu {
        display: block;
      }

      .logo {
        margin: 0 auto 15px;
        display: block;
        float: none;
      }

      .big-menu {
        display: none;
      }
    }
  }
}
/* end: _header.scss */