<section class="isoft-image-carousel">
    <ul>
        <li class="slide-1"></li>
    </ul>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<strong> Phasellus suscipit fermentum</strong> dapibus. Praesent a risus sed eros <strong>fringilla rhoncus</strong>.
        Phasellus venenatis volutpat leo, at vulputate eros malesuada a.</p>
</section>