/* _imageCarousel.scss */

.isoft-image-carousel {
  margin-top: 120px;
  
  ul {
    margin: 0;
    padding: 0;

    .slide-1 {
      height: 600px;
      background: url(../images/main-page/banner2.jpg) no-repeat;
      background-size: cover;
    }
  }

  p {
    strong {
      color: #05ABE0;
    }
    width: 100%;
    padding: 30px 15%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #333;
  }
}

/* end: _imageCarousel.scss */