<isoft-header></isoft-header>
<main class="main" role="main">
    <isoft-image-carousel></isoft-image-carousel>
    <isoft-services></isoft-services>
    <isoft-about-us></isoft-about-us>

    <section class="how-it-works"></section>

    <isoft-users-feedback></isoft-users-feedback>
    <isoft-tell-us></isoft-tell-us>
</main>
<isoft-footer></isoft-footer>
